<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  
  <div class="container">

  <!---This is for drop down search-->  
    <form class="search" onsubmit="return submitAuthorForm()" >
      <label for="authors">Choose an author:</label>
      <select name="author" id="authors">
        <% const authors = Array.from(new Set(posts.map(post => post.author))); %>
        <% authors.forEach(author => { %>
          <option value="<%= author %>"><%= author %></option>
        <% }); %>
      </select>
      <br>
      <button type="submit" class="search-button">  find     authour</button>
    </form>
    <script>
      function submitAuthorForm() {
        const selectedAuthor = document.getElementById("authors").value;
        window.location.href = `/posts?author=${encodeURIComponent(selectedAuthor)}`;
        return false; // Prevent default form submission
      }
    </script>
    
    
<!---This is end of drop down search-->
    
    <h1>My Blog</h1>
    <a id="newPostBtn" href="/new">New Post</a>
    <ul id="postsList">
      <% posts.forEach(post=> { %>
        <li>
          <h2>
            <%=post.title%>
          </h2>
          <small>
            <%=post.date %>
          </small>
          <p>
            <%=post.content%>
          </p>
          <small>By: <%=post.author%> </small>
          <a class="edit" href="/edit/<%= post.id %>">Edit</a>
          <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>

</body>

</html>